extends ../layout

block content
  h1 Books
  p
    form(action="/books/search" class="search-form" method="post")
      input(name="search" type="search" placeholder="Title, Author etc...")
      input.search(type="submit" value="Search")
    p
    if !search
      a.button(href="/books/new") Create New Book
    else if search
      a.button(href="/books/") Show All Books
      
  br
  
  p
    table 
      thead
        tr
          th Title
          th Author
          th Genre
          th Year
      tbody
        each book in books
          tr
            td
              a(href="/books/" + book.id) #{book.title}
            td #{book.author}
            td #{book.genre}
            td #{book.year}