body {
  display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 5fr;
  /* padding: 10px 50px 50px; */
  font: 18px 'IBM Plex Sans', sans-serif;
  /* font: 18px "Garamond", serif; */
  
}

* {
  box-sizing: border-box;
}

.container{
  width: 1000px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

main {
	margin-left: auto;
	margin-right: auto;
  max-width: 1000px;
  padding-top: 20px;
}

.background{
  position: absolute;
  width: 100%;
  height: 1350px;
  padding: none;
  z-index: -1;
  opacity: 0.7;
  background: url(/images/books.png);
  background-size: cover;
}

table{
  background-color: #005477;
  width: 100%;
	margin-top: 1rem;
	border-collapse: collapse;
	border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 0 5px 2px #fcdf63;

}

a {
  color: #019875;
  text-decoration: none;
  transition: 0.4s;
}

div.not-found{
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding: 10px;
  border: transparent;
  border-radius: .5rem;
  box-shadow: 0 0 5px 1px #fcdf63;
  background-color: #162c54;
}


a.button, input[type=submit] {
  color: white;
  background: #3a7a9a;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

a.button-create{
  color: white;
  background: #3a7a9a;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-left: 10px;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}

a.button-create:hover {
  background-color: #005477;
}

a.button:hover, input[type=submit]:hover {
  background-color: #005477;
}

a.button-not-found{
  
  color: white;
  background: #3a7a9a;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}

div.form{
  background-color: #162c54;
  padding: 10px;
  border: transparent;
  border-radius: .5rem;
  align-items: center;
  box-shadow: 0 0 5px 2px #fcdf63;
}

form.new{
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding: 10px;
  border: transparent;
  border-radius: .5rem;
  box-shadow: 0 0 5px 1px #fcdf63;
  background-color: #162c54;
}

form.update{
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding: 10px;
  border: transparent;
  border-radius: .5rem;
  box-shadow: 0 0 10px 2px #fcdf63;
  background-color: #162c54;
}

form.update input[type=submit]{
  padding: none;
}

form.form-search input.search {
  margin-left: 520px;
  display: inline-block;
  padding: 10px 14px 12px;
  border-style: solid;
  border-color: lightsteelblue;
  border-width: 1px;
  
}

form.form-search input.search-button {
  margin-left: 10px;
  padding: 10px 14px 12px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
  display: inline-block;
  border: none;
}

form.new label{
  color: white;
  padding-left: 20px;
}

form.update label{
  color: white;
  padding-left: 20px;
}

#not-found{
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding: 10px;
  border: transparent;
  border-radius: .5rem;
  box-shadow: 0 0 5px 1px #fcdf63;
  background-color: #162c54;
}
  

p {
  margin: 20px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h1{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

#header h1{
  color: #005477;
  margin-top: 50px;
  font-size: 36px;
}

.new h1{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

h2 {
  /* border-top: 2px solid #e7e7e7; */
  padding-top: 20px;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

h3{
  text-align: center;
  font-weight: bolder;
  padding: 20px;
  color: red;
}

th {
  border-bottom: 2px solid white;
  text-align: left;
  height: 2rem;
  padding: 5px 20px 5px 10px;
  background-color: #005477;

}

thead{
  background-color: #005477;
  height: 5rem;
  color: white;
}

tr {
  min-height: 50px;
  background-color: #005477;
}

tr:nth-child(2n) {
  background: #3a7a9a;
}

tr:hover{
  background-color: #4e5353;
  transition: 0.2s;
}

td {
  color: white;
  vertical-align: middle;
  padding: 15px 25px 15px 10px
}

td a{
  color: white;
}

label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
}

input {
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  border-color: #E7E7E7;
  transition: 0.4s;
}

input[type=text] {
  margin-left: 7px;
  width: 300px;
}

.error {
  color: rgb(236, 15, 15);
}

.pag{
  margin-right: 10px;
  color: #475aac;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  font-weight: bold;
}

.btn.btn-default{
  margin-left: 5px;
  color: white;
  background-color: #3a7a9a;
  border: none;
  border-radius: 10%;
  padding: 15px;
}

.btn.btn-default:hover{
  color: white;
  background-color: #005477;
}

